//color
$primary-color: #006400 !default;

$order-none-color: #66b1ff !default;
$order-pending-color: #67c23a !default;
$order-timeout-color: #f56c6c !default;
$text-white-color: #FFFFFF !default;

$light-1-color: #FDFDFD !default;
$light-2-color: #DDDDDD !default;

$box-shadow-base: rgba(0, 0, 0, .3) !default;